<h1>Listing categories</h1>

<table>
	<% @categories.each do |category| %>
	<tr>
		<th>Name</th>
    	<td><%= category.category %></td>
    </tr>
	<% end %>
</table>


<%= link_to 'Back to Posts', posts_path %>